<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../public/css/global.css">
    <link rel="stylesheet" href="./../public/css/alarm.css">
</head>

<body>
    <div id="container">
        <h1> Alarms </h1>
        <form id="form">
            <div class="form-group">
                <label for="name">Name: </label>
                <input name="name" id="alarm_name" type="text" />
            </div>

            <div class="form-group">
                <label for="time">Time: </label>
                <input name="time" id="alarm_time" type="time" />
            </div>

            <div class="form-group">
                <label for="weekdays">Weekdays</label>
                <br>
                <button type="button" name="weekdays" class="weekdays" value="sunday">S</button>
                <button type="button" class="weekdays" value="monday">M</button>
                <button type="button" class="weekdays" value="tuesday">T</button>
                <button type="button" class="weekdays" value="wednesday">W</button>
                <button type="button" class="weekdays" value="thursday">T</button>
                <button type="button" class="weekdays" value="friday">F</button>
                <button type="button" class="weekdays" value="saturday">S</button>
            </div>

            <button type="submit">Save</button>
        </form>
    </div>

    <script src="./../public/js/alarm.js"></script>
</body>

</html>