#container form {
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

form .form-group label {
  font-weight: bold;
}

form .form-group input {
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0.2rem 0.8rem;
  font-family: "Montserrat", sans-serif;
}

form .form-group button {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 0.7rem;
  font-weight: bold;
  margin-top: 0.5rem;
  border: none;
  border-radius: 10px;
  background: #e0e0e0;
  transition: border-radius .2s;
}

form .form-group button:hover {
  border-radius: 50%;
  background: #b4b4b4;
}

form button[type="submit"] {
  margin: 0 1rem;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0.3rem 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: color .2s;
  transition: border .2s;
}

form button[type="submit"]:hover {
  color: rgb(224, 47, 47);
  border: 1px solid red;
}